@page "/classifieds/post"
@page "/classifieds/post/{Id}"

<h3>@(IsEditing=="true" ? "Izmeni oglas" : "Postavi novi oglas")</h3>

<EditForm Model="Ad" OnValidSubmit="SaveAd" Enhance FormName="postAdForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Naslov:</label>
        <InputText @bind-Value="Ad.Title" />
    </div>

    <div>
        <label>Opis:</label>
        <InputTextArea @bind-Value="Ad.Description" />
    </div>

    <div>
        <label>Kategorija:</label>
        <InputSelect @bind-Value="Ad.Category">
            @foreach (var category in Categories)
            {
                <option value="@category">@category</option>
            }
        </InputSelect>        
        <ValidationMessage For="@(() => Ad.Category)" />
    </div>

    <div>
        <label>Cena:</label>
        <InputNumber @bind-Value="Ad.Price" />
    </div>

    <button type="submit">@(IsEditing=="true" ? "Sačuvaj promene" : "Postavi oglas")</button>
</EditForm>